<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>API Documentation</h2>

<h3>Receiving data about ping</h3>
<table>
  <tr>
    <th>URL</th>
    <th>Type</th>
    <th>Parametrs</th>
    <th>Description</th>
    <th>Response</th>
  </tr>
  <tr>
    <td>/ping</td>
    <td>Get</td>
    <td>No</td>
    <td>Return all ping requests</td>
    <td> {
        "keyid": "4e767d23-2344-45f7-b15a-e77686762f44",
        "dateandtime": "02-September-2020 13:23:17",
        "typetest": "ping",
        "valuetest": "26.433"
    },
    {
        "keyid": "4e767d23-1050-45f7-b15a-ffffffffffff",
        "dateandtime": "02-September-2020 13:23:59",
        "typetest": "ping",
        "valuetest": "25.804"
    },
    {
        "keyid": "4e767d23-1050-45f7-b15a-e77686762f44",
        "dateandtime": "02-September-2020 13:27:53",
        "typetest": "ping",
        "valuetest": "20.08"
    }</td>
  </tr>
  <tr>
    <td>/ping/key</td>
    <td>Get</td>
    <td>key(str)</td>
    <td>Return all records with this key</td>
    <td> {
        "keyid": "4e767d23-1050-45f7-b15a-e77686762f44",
        "dateandtime": "02-September-2020 13:23:17",
        "typetest": "ping",
        "valuetest": "26.433"
    },
    {
        "keyid": "4e767d23-1050-45f7-b15a-e77686762f44",
        "dateandtime": "02-September-2020 13:23:59",
        "typetest": "ping",
        "valuetest": "25.804"
    },
    {
        "keyid": "4e767d23-1050-45f7-b15a-e77686762f44",
        "dateandtime": "02-September-2020 13:27:53",
        "typetest": "ping",
        "valuetest": "20.08"
    }</td>
  </tr>
  <tr>
    <td>/ping</td>
    <td>Post</td>
    <td>No</td>
    <td>Check your ping and add to db with generated unikey key. You can use this key for search and add new data</td>
    <td>{
    "dateandtime": "02-September-2020 13:31:02",
    "keyid": "392abf2d-bbfc-490d-8b3e-5d7499714f29",
    "typetest": "ping",
    "valuetest": 27.397}</td>
  </tr>
  <tr>
    <td>/ping</td>
    <td>Post</td>
    <td>{"keyid":"your key"}</td>
    <td>Check your ping and add to db with your key. </td>
    <td>{
    "dateandtime": "02-September-2020 13:31:02",
    "keyid": "your key",
    "typetest": "ping",
    "valuetest": 27.397
}</td>
  </tr>
</table>

<br>
<h3>Receiving data about download speed</h3>
<table>
  <tr>
    <th>URL</th>
    <th>Type</th>
    <th>Parametrs</th>
    <th>Description</th>
    <th>Response</th>
  </tr>
  <tr>
    <td>/download</td>
    <td>Get</td>
    <td>No</td>
    <td>Return all download requests</td>
    <td> [
          {
          "dateandtime": "02-September-2020 14:06:47",
          "keyid": "db1e192e-b83b-4d5f-9629-b65dbfd3e36c",
          "typetest": "download",
          "valuetest": "3453.242000784555"
          },
          {
          "dateandtime": "02-September-2020 14:11:09",
          "keyid": "db1e192e-b83b-4d5f-ffff-b65dbfd3e36c",
          "typetest": "download",
          "valuetest": "5208.562200260381"
          },
          {
          "dateandtime": "02-September-2020 14:11:44",
          "keyid": "db1e192e-ffff-4d5f-9629-b65dbfd3e36c",
          "typetest": "download",
          "valuetest": "623.4849016355331"
          }]
</td>
  </tr>
  <tr>
    <td>/download/key</td>
    <td>Get</td>
    <td>key(str)</td>
    <td>Return all records with this key</td>
    <td>[
          {
          "dateandtime": "02-September-2020 14:06:47",
          "keyid": "db1e192e-b83b-4d5f-9629-b65dbfd3e36c",
          "typetest": "download",
          "valuetest": "3453.242000784555"
          },
          {
          "dateandtime": "02-September-2020 14:11:09",
          "keyid": "db1e192e-b83b-4d5f-9629-b65dbfd3e36c",
          "typetest": "download",
          "valuetest": "5208.562200260381"
          },
          {
          "dateandtime": "02-September-2020 14:11:44",
          "keyid": "db1e192e-b83b-4d5f-9629-b65dbfd3e36c",
          "typetest": "download",
          "valuetest": "623.4849016355331"
          }]
    </td>
  </tr>
  <tr>
    <td>/download</td>
    <td>Post</td>
    <td>No</td>
    <td>Check your download and add to db with generated unikey key. You can use this key for search and add new data</td>
    <td>{
      "dateandtime": "02-September-2020 14:27:11",
      "keyid": "2132bad5-6f6e-4b57-8bf2-9a1b029594d3",
      "typetest": "download",
      "valuetest": 1440.674226432435
    }</td>
  </tr>
  <tr>
    <td>/ping</td>
    <td>Post</td>
    <td>{"keyid":"your key"}</td>
    <td>Check your ping and add to db with your key. </td>
    <td>{
    "dateandtime": "02-September-2020 14:27:11",
    "keyid": "your key",
    "typetest": "download",
    "valuetest": 1440.674226432435
}</td>
  </tr>
</table>

<br>
<h3>Receiving data about upload speed</h3>
<table>
  <tr>
    <th>URL</th>
    <th>Type</th>
    <th>Parametrs</th>
    <th>Description</th>
    <th>Response</th>
  </tr>
  <tr>
    <td>/upload</td>
    <td>Get</td>
    <td>No</td>
    <td>Return all upload requests</td>
    <td> [
          {
          "dateandtime": "02-September-2020 14:06:47",
          "keyid": "db1e192e-b83b-4d5f-9629-b65dbfd3e36c",
          "typetest": "upload",
          "valuetest": "3453.242000784555"
          },
          {
          "dateandtime": "02-September-2020 14:11:09",
          "keyid": "db1e192e-b83b-4d5f-ffff-b65dbfd3e36c",
          "typetest": "upload",
          "valuetest": "5208.562200260381"
          },
          {
          "dateandtime": "02-September-2020 14:11:44",
          "keyid": "db1e192e-ffff-4d5f-9629-b65dbfd3e36c",
          "typetest": "upload",
          "valuetest": "623.4849016355331"
          }]
</td>
  </tr>
  <tr>
    <td>/upload/key</td>
    <td>Get</td>
    <td>key(str)</td>
    <td>Return all records with this key</td>
    <td>[
          {
          "dateandtime": "02-September-2020 14:06:47",
          "keyid": "db1e192e-b83b-4d5f-9629-b65dbfd3e36c",
          "typetest": "upload",
          "valuetest": "3453.242000784555"
          },
          {
          "dateandtime": "02-September-2020 14:11:09",
          "keyid": "db1e192e-b83b-4d5f-9629-b65dbfd3e36c",
          "typetest": "upload",
          "valuetest": "5208.562200260381"
          },
          {
          "dateandtime": "02-September-2020 14:11:44",
          "keyid": "db1e192e-b83b-4d5f-9629-b65dbfd3e36c",
          "typetest": "upload",
          "valuetest": "623.4849016355331"
          }]
    </td>
  </tr>
  <tr>
    <td>/upload</td>
    <td>Post</td>
    <td>No</td>
    <td>Check your upload and add to db with generated unikey key. You can use this key for search and add new data</td>
    <td>{
      "dateandtime": "02-September-2020 14:27:11",
      "keyid": "2132bad5-6f6e-4b57-8bf2-9a1b029594d3",
      "typetest": "upload",
      "valuetest": 1440.674226432435
    }</td>
  </tr>
  <tr>
    <td>/ping</td>
    <td>Post</td>
    <td>{"keyid":"your key"}</td>
    <td>Check your ping and add to db with your key. </td>
    <td>{
    "dateandtime": "02-September-2020 14:27:11",
    "keyid": "your key",
    "typetest": "upload",
    "valuetest": 1440.674226432435
}</td>
  </tr>
</table>

</body>
</html>
